ResolucionEjercicio/ClienteWeb/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteParaCompartir">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteParaCompartir" nillable="true" type="tns:ClienteParaCompartir" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteParaCompartir" nillable="true" type="tns:ArrayOfClienteParaCompartir" />
  <xs:complexType name="ClienteParaCompartir">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteParaCompartir" nillable="true" type="tns:ClienteParaCompartir" />
</xs:schema>